

.section__meta {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    
    background-image: url('/assets/section-meta-bg.gif');
    background-size: cover;
}

.section__meta:before {
    content: ' ';
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

}

.secton-meta__charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}