.chart-module {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.player-faction {
    background-color: #87ce71;
    display: flex;
    align-items: center;
  }
  
  .player-faction .main-svg {
    margin-left: -15px;
    margin-top: -25px;
  }