.app {
  max-width: 100%;
  padding: 50px 20px;
  min-height: 100vh;

  background: url('dark-honeycomb.png');
  background-repeat: repeat;
}

.header {
  width: 100%;
  font-size: 18px;
  color: #a4a4a4;
  text-align: center;
  margin: 50px 0;

}